
#header{
	margin-top:-5px;
	padding: 0;
	border-style: solid;
	border-color: red;
	width: 99%;
}


#column1{

	float: left;
	padding: 0;
    background-color: yellow;
	width: 33.33%;
}

#column2{

	float: left;
	padding: 0;
	background-color: green;
	width: 33.33%;
}

#column3{

	float: left;
	padding: 0;
	background-color: blue;
	width: 33.33%;
}

